*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
/*CHAT*/
.Chat{
  height: 100vh;
  background-color: lightblue;

}
h3{
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding-top:1.5rem;
  padding-left: 1.5rem;

}
.chat_container{
  background-color: black;
  width: 30rem;
  height: 30rem;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}


/*CARD*/
.card{
  width: 70%;
  height: 7rem;
  background-color: grey;
}

.card_container{
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right:1.5rem ;
  background-color: grey;
  border-radius: 3px;
  color: white;
  display: flex;
  align-content: center;
}

.text{
  display: flex;
  padding-left: 15px;
  padding-right: 5px;
}
.user{
  width: 20px;
  height: 30px;
  font-weight: bold;
  color: lightgray;
}
.wordCounter{
  float: right;
  color: lightgray;
}

