*{
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
/*CHAT*/
.Chat{
  height: 100vh;
  background-color: lightblue;
  display: flex;

}
h3{
  color: white;
  font-weight: bold;
  font-size: 2rem;
  padding-top:1.5rem;
  padding-left: 1.5rem;

}
.chat_container{
  background-color: black;
  width: 45rem;
  height: 50rem;
  justify-content: center;
  align-content: center;
  margin: auto;
  overflow: auto;
}


/*CARD*/
.card{
  width: 70%;
  height: 7rem;
  background-color: grey;
  display: flex;
  padding: 10px;
  margin: 10px;
}

.card_container{
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  padding-right:1.5rem ;
  background-color: grey;
  border-radius: 3px;
  color: white;
  display: flex;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 20px;
  flex-direction: column;


}

.text{
  float: right;
  align-items: center;
}
.user{
  font-weight: bold;
  color: lightgray;
  margin: 5px;

}
.card_date{
  color: lightgray;
  margin: 5px;
}

.word_counter{
  float: right;
  color: lightgray;
  margin: 5px;
}
.muu{
  width: 100%;
  display: flex;
}
.guest{
  background-color: white;
  width: 90px;
  height: 50px;
  border-block-style: solid;
  border-color: black;
  flex-direction: column-reverse;
  float: left;
}
.message{
  width: 275px;
  height: 50px;
  background-color: white;
  flex-direction: column-reverse;
  padding-left: 50px;
}
.btn{
  border: black;
}

.lable{
  color: white;
}

.uks{
  flex-direction: column-reverse;

}
